/* all */

body{
    background-color: #e5e5e5;
    font-family: 'Roboto';
    /* delete list points  */
    color: #2E2F42;
}
.menu-item{
    text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
}
.menu-item:hover,
.menu-item:focus{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color:#404BBF;
}
.contact{
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;
        text-decoration: none;
}
.contact:hover,
.contact:focus {
    color: #404BBF;
}
/* Інше */
.footer {
    background-color: #2E2F42;
    width: 1440px;
        height: 312px;
        left: 0px;
        top: 1764px;
}
.logo-web{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-studio-header{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        text-transform: uppercase;
}
.footer p{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}

/* index */

.hero{
    background-color: #2E2F42;
    text-align: center;
    color: white;
    /* Додати вирівнювання по горизонталі */
    width: 1440px;
    height: 600px;
}
.order{
    width: 169px;
    height: 56px;
    left: 20px;
    top: 20px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        
}
.order:hover{
        width: 169px;
        height: 56px;
        left: 20px;
        top: 88px;
        background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
}
.benefit h3{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
}
.benefit p{
    color: #434455;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
.portfolio{

}
.teammember h3{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px
}
.teammember p{
    color: #434455;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
/* portfolio  */

.filter{
    background: #F4F4FD;
    color: #4D5AE5;
    width: 78px;
        height: 48px;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
}
.filter:hover,
.filter:active{
    background: #404BBF;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works{

}
.works h3{

}
.works p{

}